<%= render "shared/navbar" %>
<div class="container leaderboard_container text-center">
  <%= image_tag "plantreat_logo.png", class:"garden_logo", style: "height:60px; width:60px"%>
  <h1 style="font-weight:bold">Plant master</h1>
  <div>
    <div>
      <div class="d-flex flex-column align-items-center">
        <%= @users_orders_by_points.each do |user| %>
          <h4> <%= user.username %></h4>
          <%= cl_image_tag current_user.photo.key, style:"height: 60px; width:60px; border-radius: 50%;", class:"mt-2"%>
          <p class="mt-2"> <%= user.points%> </p>
        <% end %>
      </div>

    </div>
  </div>
</div>
