


 <div class="col d-flex flex-column align-items-center">
    <%= link_to  treatment_not_growing_path do%>
      <img class="p-2" src="https://img.icons8.com/color-glass/452/growing-plant.png"
        style="height:50px; object-fit: cover; background-color: #E9FFE3; border-radius: 10px">
      <p class="plant_detail_label_content mt-1">not growing</p>
    <% end %>
 </div>
 <div class="col d-flex flex-column align-items-center">
    <%= link_to  treatment_leaves_path do%>
      <img class="p-2" src="https://img.icons8.com/color-glass/452/growing-plant.png"
        style="height:50px; object-fit: cover; background-color: #E9FFE3; border-radius: 10px">
      <p class="plant_detail_label_content mt-1">leaves</p>
    <% end %>
 </div>
 <div class="col d-flex flex-column align-items-center">
    <%= link_to  treatment_roots_sticking_out_path do%>
      <img class="p-2" src="https://img.icons8.com/color-glass/452/growing-plant.png"
        style="height:50px; object-fit: cover; background-color: #E9FFE3; border-radius: 10px">
      <p class="plant_detail_label_content mt-1">roots_sticking_out</p>
    <% end %>
 </div>
 <div class="col d-flex flex-column align-items-center">
    <%= link_to  treatment_signs_of_pest_path do%>
      <img class="p-2" src="https://img.icons8.com/color-glass/452/growing-plant.png"
        style="height:50px; object-fit: cover; background-color: #E9FFE3; border-radius: 10px">
      <p class="plant_detail_label_content mt-1">signs_of_pest</p>
    <% end %>
 </div>


  <div class="bg_treatment">
  <%= render "shared/navbar" %>
<%= image_tag "plantreat_logo.png", :class => "plant_show_logo", style: "height:60px; width:60px"%>
  <h2 class="q">We are sorry to hear that what happend to your plant?</h2>
    <div class="signs">
    <h1>not growing?</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/4772/4772398.png" class="not_growing"alt="">
    <h1>signs of pests?</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/2674/2674493.png" class="pests" alt="">
    <h1>leaves?</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/1147/1147560.png" class="leaves" alt="">
    <h1>roots sticking out?</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/3239/3239349.png" class="roots" alt="">
    </div>
</div>


